<div class="gj">
	<p>🛑 Error</p>
	<p>💡 New <select>
		<option>Generic Journal Entry</option>
		<option>Client Owed Journal Entry</option>
		<option>Client Paid Journal Entry</option>
		<option>Vendor Owed Journal Entry</option>
		<option>Client Owed Journal Entry</option>
		<option>Account</option>
	</select></p>
	<app-journal-entry [entry]="blankEntry" [accounts]="accounts" (blanket)="addValidBlank()" [editing]="true"></app-journal-entry>
	<p>⌚ Recent</p>
	<p>📜 General Journal with 💳 all accounts and 📅 all dates</p>
	<app-journal-entry *ngFor="let entry of entries$ | async" [entry]="entry" [accounts]="accounts" [editing]="false"></app-journal-entry>
</div>