<div class="entry">
	<input class="date" type="date" value="2018-10-01" />
	<div class="details">
		<div class="record">
			<select class="account">
				<option value="Cash" selected>Cash</option>
			</select>
			<input class="debit" type="number" step="0.01" min="0" />
			<input class="credit" type="number" step="0.01" min="0" value="42.33" />
		</div>
		<div class="record">
			<select class="account">
				<option value="Expense" selected>Expense</option>
			</select>
			<input class="debit" type="number" step="0.01" min="0" value="42.33" />
			<input class="credit" type="number" step="0.01" min="0" />
		</div>
		<input class="note" type="text" value="Purchased sporting goods for the community room." />
	</div>
</div>