<div class="entry" [ngClass]="{'deleting': deleting}">
	<div class="date">
		<p class="delete" *ngIf="entry.instant || entry.note || entry.journalRecords" (click)="delete()">✗</p>
		<input type="date" [(ngModel)]="instantFormatted" (ngModelChange)="onChange()" />
	</div>
	<div class="details">
		<div class="record" *ngFor="let record of entry.journalRecords; let i = index">
			<p class="delete" *ngIf="record.amount || record.account" (click)="deleteRecord(i)">✗</p>
			<select class="account" [(ngModel)]="record.account" (ngModelChange)="onChange()">
				<option [ngValue]="account" *ngFor="let account of accounts">{{account.name}}</option>
			</select>
			<input [disabled]="record.amount !==null && !record.debit" class="debit" type="number" step="0.01" min="0" [(ngModel)]="record.debit" (ngModelChange)="onChange()" />
			<input [disabled]="record.amount !==null && !record.credit" class="credit" type="number" step="0.01" min="0" [(ngModel)]="record.credit" (ngModelChange)="onChange()" />
		</div>
		<div class="record">
			<select class="account" [(ngModel)]="blankRecord.account" (ngModelChange)="onBlankRecordChange()">
				<option [ngValue]="account" *ngFor="let account of accounts">{{account.name}}</option>
			</select>
			<input class="debit" type="number" step="0.01" min="0" [(ngModel)]="blankRecord.debit" (ngModelChange)="onBlankRecordChange()" />
			<input class="credit" type="number" step="0.01" min="0" [(ngModel)]="blankRecord.credit" (ngModelChange)="onBlankRecordChange()" />
		</div>

		<input class="note" type="text" [(ngModel)]="entry.note" (ngModelChange)="onChange()" />
	</div>
</div>